<div class="row">
	<div *ngIf="track" class="col-6">
		<!--TODO: populate with track name-->
		<h1>{{track.name}}</h1>
		<p>
			<!--TODO: link to album page, display album name-->
			Track on <a href="album/{{track.album.id}}" [style.color]="'orange'">{{track.album.name}}</a>
		</p>
		<div>
			<p *ngFor="let artist of track.album.artists">
				Artist: <a href="artist/{{artist.id}}" [style.color]="'orange'">{{artist.name}}</a>
			</p>
		</div>
		<p>
			Duration: {{track.durationStr}}
		</p>
		<p>
			<a href="{{track.url}}" class="btn btn-light" role="button" target="_blank">Open {{track.name}} on Spotify</a>
		</p>
	</div>
	

	<div *ngIf="audioFeatures" class="col-6">
		<app-thermometer *ngFor="let audioFeature of audioFeatures" [name]="audioFeature.name" [percent]="audioFeature.percentageString" [color]="audioFeature.color"></app-thermometer>
	</div>
</div>
