<h1>Search Spotify</h1>
<!--TODO: bind input's model to searchString-->
<input [(ngModel)]="searchString" placeholder="Search for...">
<!--TODO: bind select's model to searchCategory-->
<select [(ngModel)]="searchCategory">
	<option value=""></option>
	<option value="album">album</option>
	<option value="track">arack</option>
	<option value="artist">artist</option>
	<!--TODO: loop over searchCategories to create dropdown options-->
	<!--populate body and text value https://www.w3schools.com/tags/att_option_selected.asp-->
</select>
<!--TODO: Call search function when the button is clicked-->
<button class="btn btn-light" (click)="search()">Search</button>

<!--TODO: Display a carousel component if searching for an artist or album. Bind carousel's resources and give it a static carouselId.-->
<!--TODO: Display a track-list component if searching for a track. Bind track-list's tracks.-->
<div *ngIf="searchCategory === 'artist' || searchCategory === 'album'">
	<app-carousel [resources]="resources" [carouselId]="'carouselId'"></app-carousel>
</div>
  
<!-- Display a track-list component if searching for a track -->
<div *ngIf="searchCategory === 'track'">
	<track-list [tracks]="tracks"></track-list>
</div>